# Ignorar bin y debug en cualquier subcarpeta
**/bin/
**/debug/
**/Debug/
**/obj/

# Opcional: archivos temporales de VS/VSCode
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# No versionar la documentación generada/diagramas
/docs/