<div class="text-center">
    <h1 class="display-4">Bienvenido a SnackGol</h1>
    <p class="lead">Explora nuestros productos o ve directo a tu carrito.</p>
    <p class="mt-4">
        <a class="btn btn-primary" href="/Carrito">Ir al carrito</a>
        <a class="btn btn-primary" href="/Producto">Visualizar productos</a>
    </p>
</div>